.calc{
    width: 400px;
    height: 540px;
    background: gray;
    margin-left: 400px;
    border-radius: 25px;
    border: 2px solid #fff;
    font-size: 20px;
}
#screen{
    width: 86%;
    margin-left: 24px;
    height: 85px;
    margin-top: 35px;
    pointer-events: none;
    border-radius: 25px;
    border: 2px solid #fff;
    font-size: 40px;
    color: 	#383838;
}
.bttn{
    width: 45px;
    height: 45px;
    margin-left: 40px;
    margin-top: 30px;
    background: #7393B3;
    color: white;
    border-radius: 54px;
    border-color: #7393B3;
}
